#links {
  width: 100%;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
}
#links a {
  margin: 0 15px;
  display: inline-block;
  *display: inline;
  zoom: 1;
}

#links a:last-child:after {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-size: 0;
}